<?xml version="1.0" encoding="UTF-8"?>
<suite name="Regression Suite" parallel="tests" thread-count="3">
    <test name="bookingReg Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SelenideTests.bookingRegTest">
            </class>
        </classes>
    </test>

    <test name="Hotel Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SelenideTests.HotelTest">
            </class>
        </classes>
    </test>

    <test name="uploadPDF Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SelenideTests.uploadTest">
            </class>
        </classes>
    </test>

    <test name="onlineShopReg Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SeleniumTests.onlineShopRegTest">
            </class>
        </classes>
    </test>

    <test name="onlineShop Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SeleniumTests.onlineShopTests">
            </class>
        </classes>
    </test>

    <test name="twoShop Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SeleniumTests.twoShopTest">
            </class>
        </classes>
    </test>

</suite>
